In [92]:
import tensorflow as tf
import numpy as np
from tensorflow.keras.models import load_model
import pandas as pd

In [93]:
model = load_model('model.h5')
# load scalars
scaler = pd.read_pickle("scaling_parameters.pkl")
# gneder load encoder
gender_encoder = pd.read_pickle("label_gender_encoder.pkl")

# onehot encoder
onehot_encoder = pd.read_pickle("onehotencoder.pkl")

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [94]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [95]:

input_data_df = pd.DataFrame(input_data, index=[0])
# encode gender
input_data_df['Gender'] = gender_encoder.transform([input_data_df['Gender']])
# onehot encode geography
geo_encoded = onehot_encoder.transform([input_data_df["Geography"]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder.get_feature_names_out(['Geography']))

# concatenate encoded features
input_data_encoded_df = pd.concat([input_data_df.drop("Geography",axis = 1), geo_encoded_df], axis=1)

# make prediction
input_data_encoded_df

/Users/msalah/Projects/ANN-classification/venv/lib/python3.11/site-packages/sklearn/preprocessing/_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
/Users/msalah/Projects/ANN-classification/venv/lib/python3.11/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [96]:
input_data_scaled_df = scaler.transform(input_data_encoded_df)

In [97]:
input_data_scaled_df

array([[-0.51104873,  0.90134069,  0.09291598, -0.69444113, -0.26649227,
         0.80268517,  0.64104192,  0.97067965, -0.85598661,  1.00125078,
        -0.57715782, -0.57850497]])

In [98]:
predictions = model.predict(input_data_scaled_df)
predictions

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 104ms/step

array([[0.03208503]], dtype=float32)

In [99]:
predictions[0][0]

np.float32(0.032085035)